* {
    background: #F3F5FC;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

body {
    width: 100%;
    height: 910px;
    margin: 0 auto;
    padding: 0;
}

/* CABECERA */
header {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    gap: 0px;
}

.logo {
    margin-left: 35px;
    width: 106px;
    height: 42px;
    float: left;
}

.titulo {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    font-weight: bold;
    font-size: 3rem;
    background: #202020;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}

/* CUERPO */
main {
    display:flex;
    flex-direction: row;
    margin-left: 5rem;
}

.textoingresado {
    display: flex;
    justify-content: center;
    margin: 5%;
    height: 500px;
    width: 95%;
    border: none;
    color: #0A3871;
    text-transform: lowercase;
    padding: 5%;
    resize: none;
}

::placeholder:first { color: #0A3871;}
    .textoingresado:focus {
        outline: none;
    }

.info{
    display:flex;
    align-items:center;
    font-size: 12px;
    line-height: 100%;
    color: #495057;
    opacity: 0.9;
    padding: 1rem;
}

#info-texto {
    margin-left: 8px;
    display: inline-block;
}

.botones{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.botonencriptar, .botondesencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    font-size: 1rem;
    width: 328px;
    height: 67px;
    justify-content: space-around;
    margin-left: 24px;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

.botonencriptar:hover, .botondesencriptar:hover, #botoncopiar:hover {
    background: #0A3871;
    color: #D8DFE8;
    border: #D8DFE8;
    box-shadow: 0 8px 8px 0 #bebbbc,0 8px 8px 0 #adadab;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}

.ingresado, .resultado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textoresultado {
    display:flex;
    align-items: flex-start;
    background: #FFFFFF;
    background-image: url(img/munheco.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    color: #495057;
    font-size: 1.5rem;
    width: 380px;
    height: 85%;
    padding: 5%;
    margin-left: 10%;
    resize: none;
}

.textoresultado:focus {
    outline: none;
}

#botoncopiar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    font-size: 1rem;
    width: 328px;
    height: 67px;
    padding: 25px 0;
    margin-top: 5%;
    margin-left: 10%;
    transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
}

/* PIE DE PAGINA */
footer{
    width: 100%;
    color:black;
    font-family: 'Quicksand';
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    font-size: .8rem;
}

/*----------------Estilos especiales para Tablets----------------*/
@media screen and (min-width: 600px) and (max-width: 1024px){
    .logo {
        margin-left: 40px;
    }

    main {
        flex-direction: column;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .textoingresado {
        padding: 0.5rem;
        width: 90%;
    }

    .info{
        padding: 2rem 0 1rem 4rem;
    }

    .botones{
        margin:0 auto;
        justify-content: center;
        align-items: center;
    }

    .resultado {
        width: -webkit-fill-available;
    }

    .textoresultado {
        background-image: url(img/texto.png);
        background-position: center;
        margin: 20px 0 0 0;
        width: 90%;
        padding: 10px;
    }

    .texto img{
        display: none;
    }

    #botoncopiar{
        width: 328px;
        height: 67px;
        margin: 1rem 0 1rem;
    }

    footer {
        text-align: center;
        margin: 10px 0 0 0;
        padding: 10px;
    }
}

/*----------------Estilos especiales para Tablets----------------*/
@media screen and (min-width: 300px) and (max-width: 599px) {
    header {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        align-items: center;
        padding: 0px;
        gap: 0px;
    }

    .logo {
        margin-left: 0px;
    }

    .titulo {
        text-align: center;
    }

    main {
        flex-direction: column;
        align-items: center;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .textoingresado {
        padding: 0.5rem;
        width: 85%;
    }

    .info{
        padding: 2rem 0 1rem 4rem;
    }

    .botones{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .botondesencriptar, .botonencriptar{
        margin: .5rem 0;
        width: 90%;
    }

    .resultado {
        width: -webkit-fill-available;
    }

    .textoresultado {
        background-image: url(img/texto.png);
        background-position: center;
        width: 95%;
        margin-left: 0;
    }

    .texto img{
        display: none;
    }

    #botoncopiar{
        width: 95%;
        height: 67px;
        margin-left: 0;
    }

    footer{
        text-align: center;
        margin: 10px 0 0;
    }
}